<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>美食地图</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp"></script>
  <script src="/js/index.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div id="container">
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">上传你的创意</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="">
            <div class="form-group">
              <label for="team-name" class="col-form-label">团队名称</label>
              <input type="text" class="form-control" id="team-name" name="teamName">
            </div>
            <div class="form-group">
              <label for="page-name" class="col-form-label">项目名称</label>
              <input type="text" class="form-control" id="page-name" name="pageName">
            </div>
            <div class="form-group">
              <label for="page-url" class="col-form-label">页面地址</label>
              <input type="text" class="form-control" id="page-url" name="pageUrl">
            </div>
            <div class="form-group">
              <label for="desc-text" class="col-form-label">介绍</label>
              <textarea class="form-control" id="desc-text" name="pageDesc"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          <button id="btn-submit" type="button" class="btn btn-primary">提交</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>